{% extends 'banner.html.twig' %}
{% block content %}
    <body>
    {% if logInValue == true %}

    {% endif %}


    <main>

        <h2>Development project</h2>
        <p>{{ login_result }}</p>
        <a href="{{ action6 }}">Continue to site</a>

    </main>
    </body>
{% endblock %}
